<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.raven.user.mapper.UserMapper">
    <sql id="selectSqlFields">id,userName,password,`name`,age,sex</sql>
    <sql id="insertSqlFields">userName,password,`name`,age,sex</sql>

    <insert id="insert" parameterType="cc.raven.user.pojo.UserPOJO">
        insert into `user` (<include refid="insertSqlFields"/>) values (#{userName},#{password},#{name},#{age},#{sex})
    </insert>
    <select id="selectByUserName" resultType="cc.raven.user.model.User" parameterType="java.lang.String">
        select <include refid="selectSqlFields"/> from `user` where userName=#{userName}
    </select>
    <select id="checkUserExist" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from user where userName=#{userName}
    </select>
    <select id="login" parameterType="cc.raven.user.pojo.UserLogin" resultType="java.lang.Integer">
        select count(1) from user where userName=#{userName} and password=#{password}
    </select>

</mapper>